        <div class="flex-card">
            <p>Идентификатор: {{ order.id }}</p>
            <p>Клиент: {{ order.client_name }}</p>
            <p>Дата заявки: {{ order.appointment_date }}</p>
            <p>Статус заявки: <span class="{{ order.status }}">{{ order.get_status_display }}</span></p>
            <p>Количество услуг: {{ order.services.all|length }}</p>
            <div class='services'>
                {% for service in order.services.all %}
                    <span class='service'>{{ service.name }} </span>
                {% endfor %}
            </div>
            <div class="text-center mt-4">
                <a href="{% url 'order_detail' order.id %}" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-right">Детали</i>
                </a>
            </div>
        </div>
        
