        <div class="flex-card">
            <p>Идентификатор: {{ order.id }}</p>
            <p>Клиент: {{ order.client_name }}</p>
            <p>Дата заявки: {{ order.appointment_date }}</p>
            <p class= {% if order.status == 'not_approved' %} not_approved
            {% elif order.status == 'approved' %} approved
            {% elif order.status == 'canceled' %} canceled
            {% elif  order.status == 'completed' %} completed
            {% endif %}
            >Статус: {{ order.status }}</p>
            <p>Количество услуг: {{ order.services_list.count }}</p>
            <div class='services'>
                {% for service in order.services_list %}
                    <span class='service'>{{ service.name }} </span>
                {% endfor %}
            </div>

        </div>
        
