{% extends "base.html" %}
{% block content %}
    <div class="container">
        {# Секция "О нас" #}
        <section id="about" class="py-5">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2>О нас</h2>
                    <p>Текст о барбершопе...</p>
                </div>
                <div class="col-md-6">
                    <p class="text-center">[Карусель с фото]</p>
                </div>
            </div>
        </section>
        {# Секция "Мастера" #}
        <section id="master" class="py-5 bg-light">
            <h2 class="text-center mb-4">Мастера</h2>
            <div class="container">
                <div class="row justify-content-center flex-wrap overflow-auto">
                    {% for master in masters %}
                        <div class="col-md-6 col-lg-3 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <p>Мастер: {{ master.name }}</p>
                                    <p>Опыт: {{ master.experience }}</p>
                                    <p>Услуги: {% for service in master.services.all %}{{ service.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>                         
                                    <p>Оценка: {{ master.rating }}</p>
                                    {% if master.photo %}
                                        <img src="{{ master.photo.url }}" alt="Фото мастера" class="master-photo">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {# Секция "Отзывы" #}
        <section id="review" class="py-5 bg-light">
            <h2 class="text-center mb-4">Отзывы</h2>
            <div class="container">
                <div class="row justify-content-center flex-wrap overflow-auto">
                    {% for review in reviews %}
                        <div class="col-md-6 col-lg-3 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <p>Клиент: {{ review.client_name }}</p>
                                    <p>Отзыв: {{ review.text }}</p>
                                    {% comment %} <p>Оценка: {{ review.rating }}</p> {% endcomment %}
                                    <p>Мастер: {{ review.master.name }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
