{% extends "base.html" %}
{% block title %}
{{ operation_type}}
{% endblock title %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <h1>{{ operation_type}} {{service.id}}</h1>
    </div>
    <div class="row">
        <form method="POST">
            {% csrf_token %}
            <input type="text" class="form-control m-2" name="service_name" value="{{service.name}}" placeholder="Название услуги">
            <input type="text" class="form-control m-2" name="service_description" value="{{service.description}}" placeholder="Описание услуги">
            <input type="text" class="form-control m-2", name="service_price" value="{{service.price}}" placeholder="Цена услуги">
            <button type="submit" class="btn btn-dark">{{ operation_type}}</button>
        </form>
    </div>
{% endblock content %}